{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<marquee style="font-family:Monospaced; font-size: 25px; color: aliceblue; background-color: black; font-weight: bold; margin-top: 1%">
    Change Company Logo
</marquee>
<hr>
<form class="container mt-5 " onsubmit="return checkpass();"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Job Title</label>
            <input type="text" class="form-control" readonly name="jobtitle" value="{{job.title}}" required>
        </div>
    </div>

 

    <div class="form-row">
        <div class="form-group col-md-12">
           <img src="{{job.image.url}}" width="100" height="90"> 
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Company Logo</label>
            <input type="file" class="form-control" name="logo"  required>
        </div>
        <div class="form-group col-md-6">
            <label> Company Location</label>
            <input type="text" class="form-control" name="location" value="{{job.location}}" required>
        </div>
    </div>

    

    <input type="Submit" value="Submit" class="btn btn-primary btn-sm my-3" style="margin-top: 2%; color: aliceblue; height: 40px; font-size: 16px">

</form>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Company Logo have been updated ");
    window.location = ('{% url 'change_companylogo' job.id %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again.");
</script>
{% endif %}



{% endblock %}